
    
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ><a ng-href="#">Home</a></li>
    <li class="active"><a id="features" ng-href="#/demo">Features</a></li>
    
  </ul>
  <h3 class="text-muted">ng-joyride</h3>
</div>

<div class="jumbotron">
  <h1>ng-joyride</h1>
  <p class="lead">
    This page lists the features of ng-ride
   
  </p>
  
</div>
<div class="row">
    <div class="col-md-12">
       <h3 id="featured">Features</h3>
        <ul>
            <li>It can change pages</li>
            <li>It can call functions</li>
            <li>It can reference element that are not in the DOM when the joyride is initialized</li>
            <li>You can put your custom templates</li>
            <li>You can have different templates for different title throughout your joyride</li>
        </ul>
    </div>
    
</div>
<div class="row marketing">
  <h4 id="header">Github</h4>
  <p>
   Head Over to GITHUB to read the full documentation
  </p>

</div>  

<div  class="footer">
  <p id="finish">♥ from Abhik</p>
</div>
