
    
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active" id="home"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/demo">Features</a></li>
    
  </ul>
  <h3 class="text-muted">ng-joyride</h3>
</div>

<div class="jumbotron">
  <h1>ng-joyride</h1>
  <p class="lead">
    This plugin is inspired by the Jquery Joyride plugin.This also adds lot of new functionality. And has no dependency on Jquery Joyride.
   
  </p>
  
</div>
<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        <button ng-click="start()" type="button" class="btn btn-success btn-lg btn-block">Start Joyride</button>
        
        <br/>
    </div>
    <div class="col-md-4">
        <div></div>
    </div>
</div>
    
<div class="row">
    <div class="col-md-4">
        <button id="impBtn" class="btn">Demo Btn</button>
    </div>
    <div class="col-md-4">
        <table class="table table-bordered">
            <tr>
                <th id="name">
                    Dependencies
                </th>
                <th>
                    Version
                </th>
            </tr>
            <tr>
                <td>Jquery</td>
                <td>1.8+</td>
                
            </tr>
            <tr>
                <td>Bootstrap (optional)</td>
                <td>3.0</td>
                
            </tr>
            <tr>
                <td>Angular</td>
                <td>1.2+</td>
                
            </tr>
        </table>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row marketing">
  <h4 id="header">Jquery</h4>
  <p>
   The Jquery Dependency is required for the selector mechanism
  </p>

  <h4>Bootstrap</h4>
    
  <p>
   This is not a hard requirement.If you supply your own templates then this is not required.But if you use the default templates, then its required.
  </p>

  <h4>Angular</h4>
  <p>I have tested this for 1.2 + and the latest build of 1.3</p>
</div>

<div class="footer">
  <p>♥ from Abhik</p>
</div>
