<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="col-md-4">
        
            <alert id="modal1" type="success">Modals!!</alert>
        </div>
        <div class="col-md-4">
            <alert id="modal2" type="success">Functions!!</alert>
        </div>
        <div class="col-md-4">
            <alert id="modal3" type="success">Dynamic Elements!!</alert>
        </div>
        
    </div>
    <ul>
            <li > Some!!!
            </li>
            <li>  Random!!
            </li>
            <li > Stuff!!
            </li>
        </ul>
   
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>